// Colours
$colour-primary: #55c57a;
$colour-primary-light:  #7ed56f;
$colour-primary-dark:  #28b485;

$colour-black: #000;
$colour-grey-dark: #777;
$colour-grey-light-1: #f7f7f7;
$colour-white: #fff;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;
