// Colours
$colour-primary: #55c57a;
$colour-primary-light:  #7ed56f;
$colour-primary-dark:  #28b485;

$colour-secondary-light: #ffb900;
$colour-secondary-dark: #ff7730;

$colour-tertiary-light: #2998ff;
$colour-tertiary-dark: #5643fa;

$colour-black: #000;
$colour-grey-dark-1: #777;
$colour-grey-dark-2: #999;
$colour-grey-dark-3: #333;
$colour-grey-light-1: #f7f7f7;
$colour-grey-light-2: #eee;
$colour-white: #fff;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;

// Misc
$default-border-radius: 3px;
